{% extends 'post/base.html' %}

{% block content %}
    {% if tag %}
        <h2>Post tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <div class="post" style="border:coral .2px solid;padding: 10px;" >
            <div class="date">
                {{ post.published_date }}
                Category: {{ post.category }}
                
                
               

            </div>
            Tags:
            {% for tag in post.tag.all %}
                <a href="{% url 'post:post_list_by_tag' tag.slug %}">
                    {{ tag.name|capfirst }}
                </a>
                 {% if not forloop.last %} , {% endif %}
            {% endfor %}
           
            
            <h2><a href="{% url 'post:post_detail' post.slug %}">{{ post.title |capfirst   }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}